<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/dinheiro.png" alt="">Finalizar Pedido
        </div>
        <h2>Para finalizar a compra, informe seu e-mail</h2>
        <div class="form-email">
            <input type="email" class="form-control" placeholder="Seu@email.com">
            <button routerLink="/forma-pagamento" type="submit" class="btn btn-primary">Continuar</button>
        </div>
    </div>
</main>