<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/dinheiro.png" alt="">Finalizar Pedido
        </div>
        <h2>Para finalizar a compra, realize o login!</h2>
        <div class="login-page">
          <div class="form">
            <form class="login-form">
              <input type="text" placeholder="Email" [formControl]="formLoginEmail"/>
              <input type="password" placeholder="Senha" [formControl]="formLoginPassword"/>
              <button (click)="onLogin()">Entrar</button>
              <p class="message">Não é cadastrado? <a href="#" routerLink="/cadastro">Cadastre-se</a></p>
            </form>
          </div>
        </div>
    </div>
</main>
