/* Main */
main {
    width: 100%;
    height: auto;
    background-color: #ea786b;
    padding-bottom: 30px;
}
.content-main {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #fff;
    border-top: solid 1px #ea786b;
}
.content-title{
    width: 230px;
    height: 50px;
    background-color: #e22d4b;
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 7px 14px;
}
.icon-box{
    width: 30px;
    height: 30px;
}
h2{
    text-align: center;
    margin-top: 50px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e22d4b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #e22d4b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #e22d4b;
  text-decoration: none;
}
