<main>
    <div class="content-main">
        <div class="title-empresa">
            Sobre a Comercial Freitas
        </div>
        <div class="content-info">
            <div class="text-empresa">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aspernatur amet quas unde facilis, accusantium officiis, hic ea repellat obcaecati assumenda natus tenetur. Assumenda quas ducimus ad eaque possimus architecto!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste aspernatur numquam maiores quidem labore in beatae voluptas rem veniam architecto, excepturi exercitationem temporibus nemo voluptatibus recusandae rerum minus saepe?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magnam doloremque culpa quisquam animi, maxime veritatis minima mollitia excepturi, ducimus esse, quaerat tempora ipsa asperiores dolorem corrupti veniam impedit ea!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi non vero quaerat dignissimos corporis nihil quae, unde quas nesciunt odit minus voluptatem, asperiores eaque repudiandae! Accusamus dolores ducimus amet voluptatum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ea aliquid aperiam. Tempora ut qui placeat ullam aspernatur, magnam rem fugiat consequatur mollitia explicabo nisi veritatis numquam cumque. Veritatis, repellat?
            </div>
            <div class="img-empresa">
                <img src="../../../assets/img/loja2.jpg" alt="loja">
            </div>
        </div>
    </div>
</main>