<app-header></app-header>
<main>
    <div class="content-main">
        <div class="title-empresa">
            Sobre a Comercial Freitas
        </div>
        <div class="content-info">
            <div class="text-empresa">
                Com sonho empreendedor a familia Freitas em 2019 fundou a Comercial Freitas, hoje presente em São Paulo na Rua Doutor Cardoso Terra N°: 205, a empresa de distribuição de doces e salgados conta com uma grande diversidade de clientes desde lojas de conveniência á farmacias.
                Com uma grande variedade de produtos de diversas marcas vendemos tanto avulso quanto atacado.<br>
                <br>
                Agora com uma loja E-Commerce, você pode efetuar seus pedidos de forma rápida e segura sem sair de casa, por isso não perca tempo <a routerLink="/promocoes" routerLinkActive="active">Clique Aqui</a> e acesse já nossas promoções.
            </div>
            <div class="img-empresa">
                <img src="../../../assets/img/loja2.jpg" alt="loja">
            </div>
        </div>
    </div>
</main>