<header>
    <div class="logo">
        <a routerLink="/" routerLinkActive="active"><img src="../../assets/img/logo.PNG" alt="logo"></a>
    </div>
    <nav>
        <div class="nav-item">
            <img src="../../assets/icons/snack (2).png" alt="chocolate">
            <div>Chocolate</div>
        </div>
        <div class="nav-item">
            <img src="../../assets/icons/food-and-restaurant.png" alt="doces">
            <div class="text-item">Doces</div>
        </div>
        <div class="nav-item">
            <img src="../../assets/icons/sugar-cubes.png" alt="doces">
            <div class="text-item">Atacado</div>
        </div>
        <div class="nav-item">
            <img src="../../assets/icons/cake.png" alt="doces">
            <div class="text-item">Festa</div>
        </div>
        <div class="nav-item">
            <img src="../../assets/icons/kiosk.png" alt="doces">
            <div class="text-item">Bomboniere</div>
        </div>
    </nav>
    <div class="login">
        <a href="#" (click)="openModalLogin()">
            <img src="../../assets/icons/user.png" alt="login">
        </a>
        <div>Login</div>
    </div>
    <div class="shopping_cart">
        <a href="#" (click)="openModalCarrinho()">
            <img src="../../assets/icons/mercado.png" alt="carrinho">
        </a>
        <div>Carrinho</div>
    </div>
</header>
