<app-header></app-header>
<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/dinheiro.png" alt=""> Boleto
        </div>
        <div class="content-info">
            <div class="content-dados">
                <div class="content-forma-pagamento">
                    <div class="tipo-pagamento">
                        <i class="material-icons">monetization_on</i>
                        <div class="title-dados-pessoais">Pagamento</div><br><br>
                        <button type="button" class="btn btn-primary" (click)=(obterBoleto())>Download Boleto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
