<app-header></app-header>
<div class="content-title">
    <h2>Detalhes do Pedido</h2>
    <button type="button" class="fechar" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<ul class="content-detalhe">
    <h3>Pedido</h3>
    <li><strong>Produto:</strong> Pirulito Pop</li>
    <li><strong>Quantidade:</strong> 3</li>
    <li><strong>Preço:</strong> 10,00</li>
    <li><strong>Data:</strong> 01/06/2020</li>
    <li><strong>Total:</strong> 30,00</li>
</ul>
<ul class="content-detalhe">
    <h3>Status</h3>
    <li style="background-color: greenyellow;">Data: 01/06/2020 | Recebemos seu pedido</li>
    <li style="background-color: yellow;">Data: 01/06/2020 | Aguardando Pagamento</li>
</ul>