<app-header></app-header>
<main>
    <div class="content-main">
        <h2>Novidades</h2>
        <div class="content-produto">
            <div class="produto">
                <img src="../../../assets/img/bubaaoo-uva.webp" alt="">
                <p>Bubaaloo Uva - 50 unidades</p>
            </div>
            <div class="produto">
                <img src="../../../assets/img/pirulito-pop.webp" alt="">
                <p>Pirulito POP - 50 unidades</p>
            </div>
            <div class="produto">
                <img src="../../../assets/img/bala-recheada.webp" alt="">
                <p>Bala Butter Toffer - 50 unidades</p>
            </div>
        </div>

    </div>
</main>