<main>
    <div class="content-main">
        <h2 style="text-align: center; margin-bottom: 20px;">Cadastro</h2>
        <form>
            <div class="content-identifica">
                <h4>Identificação</h4>
                <div class="content-group-identifica">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [formControl]="formLoginEmail"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [formControl]="formLoginEmail"
                            placeholder="Enter email">
                    </div>
                </div>
                <div class="content-group-identifica">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl]="formLoginEmail">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl]="formLoginEmail">
                    </div>
                </div>
            </div>
            <div class="content-dados">
                <div class="content-dados-pessoais">
                    <h4>Dados Pessoais</h4>
                    <div class="content-group-dados-pessoais">
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Nome Completo</label>
                            <input type="text" class="form-control" id="inputNome" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Cpf</label>
                            <input type="number" class="form-control" id="inputCPF" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Celular</label>
                            <input type="number" class="form-control" id="inputCelular" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Telefone Fixo</label>
                            <input type="number" class="form-control" id="inputTelefone" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputState">Sexo</label>
                            <select id="inputState" class="form-control">
                                <option>Feminino</option>
                                <option>Masculino</option>
                            </select>
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Data de Nascimento</label>
                            <input type="number" class="form-control" id="inputDataNascimento">
                        </div>
                    </div>
                </div>
                <div class="content-endereco">
                    <h4>Endereço</h4>
                    <div class="content-group-dados-pessoais">
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Cep</label>
                            <input type="number" class="form-control" id="inputCEP" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Endereço</label>
                            <input type="text" class="form-control" id="inputEndereco" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Numero</label>
                            <input type="number" class="form-control" id="inputNumero" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Complemento</label>
                            <input type="text" class="form-control" id="inputComplemento" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Bairro</label>
                            <input type="text" class="form-control" id="inputBairro" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-9">
                            <label for="inputEmail4">Cidade</label>
                            <input type="text" class="form-control" id="inputCidade" [formControl]="formLoginEmail">
                        </div>
                        <div class="form-group col-md-7">
                            <label for="inputState">Estado</label>
                            <select id="inputEstado" class="form-control">
                                <option>Acre</option>
                                <option>Amapá</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button style="margin-left: 45%; margin-top: 30px;" type="button" class="btn btn-primary" (click)="onRegister()">Cadatrar</button>
        </form>
    </div>
</main>