/* Main */
main {
    width: 100%;
    height: auto;
    background-color: #ea786b;
    padding-bottom: 30px;
}
.content-main {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 20px;
}
.content-identifica{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    border: solid 2px #ededed;
    background-color: #fff;
}
.content-group-identifica{
    float: left;
    width: 42%;
    margin-left: 5%;
}
.content-dados{
    width: 100%;
    height: 650px;
    margin-top: 30px;
}
.content-dados-pessoais{
    width: 48%;
    height: 560px;
    float: left;
    border-radius: 5px;
    border: solid 2px #ededed;
    background-color: #fff;
}
.content-group-dados-pessoais{
    margin-left: 100px;
}
.content-endereco{
    width: 48%;
    height: 650px;
    float: left;
    border-radius: 5px;
    border: solid 2px #ededed;
    background-color: #fff;
    margin-left: 4%;
}
input{
    background-color: #ededed !important;
}
select{
    background-color: #ededed !important;
}