<app-header></app-header>
<main>
    <div class="content-main">
        <h2 style="text-align: center; margin-bottom: 20px;">Cadastro</h2>
        <form>
            <div class="content-identifica">
                <i class="material-icons">lock</i>
                <div class="content-group-identifica">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            [formControl]="formEmail" placeholder="exemple@ex.com">
                    </div>
                </div>
                <div class="content-group-identifica">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*******"
                            [formControl]="formPassword">
                    </div>
                </div>
            </div>
            <div class="content-dados-pessoais">
                <i class="material-icons">account_circle</i>
                <div class="content-group-dados-pessoais">
                    <div class="item-dados">
                        <label for="inputEmail4">Nome Completo</label>
                        <input type="text" class="form-control" id="inputNome" [formControl]="formName">
                    </div>
                    <div class="item-dados">
                        <label for="inputEmail4">Cpf</label>
                        <input type="text" class="form-control" id="inputCPF" [formControl]="formCpf"
                            mask="000-000-000-00" placeholder="000-000-000-00">
                    </div>
                    <div class="item-dados">
                        <label for="inputEmail4">Celular</label>
                        <input type="text" class="form-control" id="inputCelular" [formControl]="formCellPhone"
                            mask="(00) 00000-0000" placeholder="(00) 00000-0000">
                    </div>
                    <div class="item-dados">
                        <label for="inputState">Sexo</label>
                        <select id="inputState" class="form-control" [formControl]="formSex">
                            <option value="2">Feminino</option>
                            <option value="3">Masculino</option>
                        </select>
                    </div>
                    <div class="item-dados">
                        <label for="inputEmail4">Data de Nascimento</label>
                        <input type="text" class="form-control" id="inputDataNascimento" [formControl]="formDtNasc"
                            mask="00/00/0000" placeholder="00/00/0000">
                    </div>
                </div>
            </div>
            <div class="content-endereco">
                <i class="material-icons">home</i>
                <div class="item-dados">
                    <label for="inputEmail4">Cep</label>
                    <input type="text" class="form-control" id="inputCEP" [formControl]="formCep" mask="00000-000"
                        placeholder="00000-000">
                </div>
                <div class="item-dados">
                    <label for="inputEmail4">Endereço</label>
                    <input type="text" class="form-control" id="inputEndereco" [formControl]="formAddress">
                </div>
                <div class="item-dados">
                    <label for="inputEmail4">Numero</label>
                    <input type="number" class="form-control" id="inputNumero" [formControl]="formNumber">
                </div>
                <div class="item-dados">
                    <label for="inputEmail4">Complemento</label>
                    <input type="text" class="form-control" id="inputComplemento" [formControl]="formComplement">
                </div>
                <div class="item-dados">
                    <label for="inputEmail4">Bairro</label>
                    <input type="text" class="form-control" id="inputBairro" [formControl]="formDistrict">
                </div>
                <div class="item-dados">
                    <label for="inputEmail4">Cidade</label>
                    <input type="text" class="form-control" id="inputCidade" [formControl]="formCity">
                </div>
                <div class="item-dados">
                    <label for="inputState">Estado</label>
                    <select id="inputEstado" class="form-control" [formControl]="formState">
                        <option *ngFor="let s of states | async" value="{{ s.id }}">{{ s.name }}</option>
                    </select>
                </div>
            </div>
            <button style="margin-left: 45%; margin-top: 30px;" type="button" class="btn btn-primary"
                (click)="onRegister()">Cadatrar</button>
        </form>
    </div>
</main>