<!-- <app-header></app-header> -->
<header id="header">
    <div class="logo">
        <a href="#" (click)="Submit()"><img src="../../assets/img/logo.PNG" alt="logo"></a>
    </div>
    <nav>
        <a href="#" (click)="Submit()" style="padding: 0px; margin: 0px;">
            <div class="nav-item">
                <img src="../../assets/icons/kiosk.png" alt="doces">
                <div class="text-item">Inicio</div>
            </div>
        </a>
        <a href="#" (click)="onSearch('chocolate')" style="padding: 0px; margin: 0px;">
            <div class="nav-item">
                <img src="../../assets/icons/snack (2).png" alt="chocolate">
                <div>Chocolate</div>
            </div>
        </a>
        <a href="#" (click)="onSearch('Bala')" style="padding: 0px; margin: 0px;">
            <div class="nav-item">
                <img src="../../assets/icons/food-and-restaurant.png" alt="doces">
                <div class="text-item">Doces</div>
            </div>
        </a>
        <a href="#" (click)="onSearch('Atacado')" style="padding: 0px; margin: 0px;">
            <div class="nav-item">
                <img src="../../assets/icons/sugar-cubes.png" alt="doces">
                <div class="text-item">Atacado</div>
            </div>
        </a>
        <a href="#" (click)="onSearch('Festa')" style="padding: 0px; margin: 0px;">
            <div class="nav-item">
                <img src="../../assets/icons/cake.png" alt="doces">
                <div class="text-item">Festa</div>
            </div>
        </a>
    </nav>
    <div *ngIf="name === 'Login'" class="login">
        <a href="#" (click)="openModalLogin()">
            <img src="../../assets/icons/user.png" alt="login">
        </a>
        <!-- <div *ngFor="let p of results | async" >{{p.name}}</div> -->
        <div>{{ name }}</div>
    </div>
    <div *ngIf="name != 'Login'" class="login">
        <a (click)="minhaConta()">
            <img src="../../assets/icons/user.png" alt="login">
        </a>
        <div>{{ name }}</div>
    </div>
    <ul class="mostrar-conta">
        <li><a routerLink="/perfil" routerLinkActive="active" (click)="minhaConta()">Meu Perfil</a></li>
        <li><a routerLink="/pedidos" routerLinkActive="active" (click)="minhaConta()">Meus Pedidos</a></li>
        <li><a href="#" (click)="exitConta()">Sair</a></li>
    </ul>
    <div class="shopping_cart">
        <a href="#" (click)="openModalCarrinho()">
            <img src="../../assets/icons/mercado.png" alt="carrinho">
        </a>
        <div>Carrinho</div>
    </div>
</header>
<main id="main">
    <div class="content-main">
        <div class="content-seashe">
            <form class="form-inline">
                <input class="form-control" type="search" [formControl]="searchProduct" placeholder="Pesquisar"
                    aria-label="Pesquisar">
                <button (click)="onSearch()" class="btn btn-outline-primary" type="submit">Pesquisar</button>
            </form>
        </div>
        <div class="propaganda">
            <img src="../../../assets/img/novo-banner.webp" alt="banner">
        </div>
        <div *ngFor="let r of results | async">
            <!-- <td>{{r.name}}</td> -->
        </div>
        <div class="content-produto">
            <div *ngFor="let p of product | async" class="card">
                <a class="content-img" href="#" routerLink="/produto/{{p.id}}" routerLinkActive="active">
                    <img class="card-img-top" src="{{ p.avatar.url }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }} {{ p.unity}}</h5>
                    <p class="card-text">{{ p.price | currency: 'BRL': true }}</p>
                    <a (click)="openModalCarrinho()" (click)="addCart(p)" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</main>