<main>
    <div class="content-main">
        <div class="content-seashe">
            <form class="form-inline">
                <input class="form-control" type="search" [formControl]="searchProduct" placeholder="Pesquisar" aria-label="Pesquisar">
                <button (click)="onSearch()" class="btn btn-outline-primary" type="submit">Pesquisar</button>
            </form>
        </div>
        <div class="propaganda">
            <img src="../assets/img/banner-fini.gif" alt="">
        </div>
        <div *ngFor="let r of results | async">
          <td>{{r.name}}</td>
        </div>
        <div class="content-produto">
            <div *ngFor="let p of produto" class="produto">
                <img src="../assets/img/{{ p.imagem }}" alt="">
                <div class="text-produto">{{ p.nome }} {{ p.quantidade}}</div>
                <div class="valor-produto">R$ {{ p.valor }}</div>
                <button type="button" class="btn btn-success">Comprar</button>
            </div>
        </div>
        <div class="content-produto">
            <div *ngFor="let p of produto" class="produto">
                <img src="../assets/img/{{ p.imagem }}" alt="">
                <div class="text-produto">{{ p.nome }} {{ p.quantidade}}</div>
                <div class="valor-produto">R$ {{ p.valor }}</div>
                <button type="button" class="btn btn-success">Comprar</button>
            </div>
        </div>
        <div class="content-produto">
            <div *ngFor="let p of produto" class="produto">
                <img src="../assets/img/{{ p.imagem }}" alt="">
                <div class="text-produto">{{ p.nome }} {{ p.quantidade}}</div>
                <div class="valor-produto">R$ {{ p.valor }}</div>
                <button type="button" class="btn btn-success">Comprar</button>
            </div>
        </div>
    </div>
</main>
