<main>
    <div class="content-main">
        <div class="content-seashe">
            <form class="form-inline">
                <input class="form-control" type="search" [formControl]="searchProduct" placeholder="Pesquisar"
                    aria-label="Pesquisar">
                <button (click)="onSearch()" class="btn btn-outline-primary" type="submit">Pesquisar</button>
            </form>
        </div>
        <div class="propaganda">
            <img src="../../../assets/img/novo-banner.webp" alt="banner">
        </div>
        <div *ngFor="let r of results | async">
            <td>{{r.name}}</td>
        </div>
        <div class="content-produto">
            <div *ngFor="let p of product | async" class="card">
                <a class="content-img" href="#" routerLink="/produto/{{p.id}}" routerLinkActive="active">
                    <img class="card-img-top" src="{{ p.avatar.url }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }} {{ p.unity}}</h5>
                    <p class="card-text">{{ p.price | currency: 'BRL': true }}</p>
                    <a (click)="openModalCarrinho()" (click)="addCart(p)" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</main>