<div class="content-produto" *ngFor="let p of product | async">
    <div class="produto-imagem">
        <img src="{{p.avatar.url}}" alt="">
    </div>
    <div class="informe-produto">
        <div class="title-produto">
            <h2>{{ p.name }} {{ p.quantidade}}</h2>
        </div>
        <div class="content-info">
            <p>{{p.description}}</p>
            <br>
            <div class="valor-antigo">De: <strong>R$ {{p.price}}</strong></div><br>
            <div style="color: #A7AAAB;">Por:</div>
            <div class="valor-atual">R$ {{p.price}}</div>
            <button routerLink="/resumo-pedido" type="button" class="btn btn-success">Comprar</button>
        </div>
    </div>
</div>
