<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/dinheiro.png" alt="">Finalizar Pedido
        </div>
        <div class="content-info">
            <div class="content-dados">
                <div class="dados">
                    <div class="dados-pessoais">
                        <i class="material-icons">account_circle</i>
                        <div class="title-dados-pessoais">Dados Pessoais</div>
                        <ul>
                            <li><strong>E-mail: </strong>bruna@gmail.com</li>
                            <li><strong>Nome: </strong>Bruna Sousa</li>
                            <li><strong>Telefone: </strong>Telefone: 986748108</li>
                        </ul>
                    </div>
                    <div class="dados-pessoais">
                        <i class="material-icons">home</i>
                        <div class="title-dados-pessoais">Entrega</div>
                        <ul>
                            <li>Rua Pedro Valadares, 338 - Bloco 09 Apt 05 - Jardim Vitápolis - Itapevi - SP</li>
                        </ul>
                        <div class="entrega"><strong>Entrega: </strong>Normal - Até 10 dias uteis</div>
                    </div>
                </div>
                <div class="content-forma-pagamento">
                    <div class="tipo-pagamento">
                        <i class="material-icons">monetization_on</i>
                        <div class="title-dados-pessoais">Pagamento</div><br><br>
                        <button type="button" class="btn btn-primary">Cartão de Crédito</button><br><br>
                        <button type="button" class="btn btn-primary">Boleto Bancario</button>
                    </div>
                    <div class="dados-pagamento">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Numero do cartão</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Master</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Visa</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Elo</label>
                            </div><br><br>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nome impresso no cartão</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6" style="float: left;">
                                <label for="inputState">Ano</label>
                                <select id="inputState" class="form-control">
                                    <option selected>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4" style="float: left;">
                                <label for="inputState">Mês</label>
                                <select id="inputState" class="form-control">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Código de segurança</label>
                                <input type="number" class="form-control col-md-4">
                            </div>
                            <div class="form-group col-md-10" style="float: left;">
                                <label for="inputState">Parcelas</label>
                                <select id="inputState" class="form-control">
                                    <option selected>1x - 100,00</option>
                                    <option>2x - 50,00</option>
                                    <option>3x - 33,33</option>
                                </select>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="exampleInputEmail1">CPF</label>
                                <input type="number" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content-pedido">
            </div>
        </div>
    </div>
</main>