<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/dinheiro.png" alt="">Finalizar Pedido
        </div>
        <div class="content-info">
            <div class="content-dados">
                <div class="dados">
                    <div class="dados-pessoais"></div>
                    <div class="dados-pessoais"></div>
                </div>
            </div>
            <div class="content-pedido"></div>
        </div>
    </div>
</main>