<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/dinheiro.png" alt="">Finalizar Pedido
        </div>
        <div class="content-info">
            <div class="content-dados">
                <div class="dados">
                    <div class="dados-pessoais">
                        <i class="material-icons">account_circle</i>
                        <div class="title-dados-pessoais">Dados Pessoais</div>
                        <ul>
                            <li><strong>E-mail: </strong>bruna@gmail.com</li>
                            <li><strong>Nome: </strong>Bruna Sousa</li>
                            <li><strong>Telefone: </strong>Telefone: 986748108</li>
                        </ul>
                    </div>
                    <div class="dados-pessoais">
                        <i class="material-icons">home</i>
                        <div class="title-dados-pessoais">Entrega</div>
                        <ul>
                            <li>Rua Pedro Valadares, 338 - Bloco 09 Apt 05 - Jardim Vitápolis - Itapevi - SP</li>
                        </ul>
                        <div class="entrega"><strong>Entrega: </strong>Normal - Até 10 dias uteis</div>
                    </div>
                </div>
                <div class="content-forma-pagamento">
                    <div class="tipo-pagamento">
                        <i class="material-icons">monetization_on</i>
                        <div class="title-dados-pessoais">Pagamento</div><br><br>
                        <button type="button" class="btn btn-primary">Cartão de Crédito</button><br><br>
                        <button type="button" class="btn btn-primary">Boleto Bancario</button>
                    </div>
                    <div class="dados-pagamento">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Numero do cartão</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="1">Master</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="2" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="2">Visa</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="3" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="3">Elo</label>
                              </div>
                            <div class="content-radios">
                                <img src="../../../../assets/icons/mastercard.png" alt="Master">
                                <img src="../../../../assets/icons/visto.png" alt="Visa">
                                <img class="img-elo" src="../../../../assets/img/elo-logo-1-1.png" alt="Elo">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nome impresso no cartão</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-10" style="padding-left: 0px !important; height: 70px;">
                                <div class="form-group col-md-4" style="float: left; padding-left: 0px !important;">
                                    <label for="inputState">Ano</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>2021</option>
                                      <option>2022</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4" style="float: left;">
                                    <label for="inputState">Mês</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>1</option>
                                      <option>2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-5" style="padding-left: 0px !important;"> 
                                <label for="exampleInputEmail1">Código de segurança</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="form-group col-md-6" style="padding-left: 0px !important;">
                                <label for="inputState">Parcelas</label>
                                <select id="inputState" class="form-control">
                                  <option selected>1x - 100,00</option>
                                  <option>2x - 50,00</option>
                                </select>
                            </div>
                            <div class="form-group col-md-10" style="padding-left: 0px !important;">
                                <label for="exampleInputEmail1">CPF</label>
                                <input type="number" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content-pedido">
                <i class="material-icons">format_list_bulleted</i>
                <div class="title-dados-pessoais">Resumo</div>
                <ul>
                    <li *ngFor="let p of produtos"><img src="../../../../assets/img/{{p.imagem}}" alt="produto">{{p.nome}} - {{p.preco}}</li>
                </ul>
                <div class="content-total">
                    <div class="content-line"><strong>Subtotal:</strong> R$ 51,00</div>
                    <div class="content-line"><strong>Frete:</strong> R$ 10,00</div>
                    <div class="content-line"><strong>Total:</strong> R$ 61,00</div>
                </div>
                <button type="button" class="btn btn-success">Finalizar compra</button>
            </div>
        </div>
    </div>
</main>