<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Login</strong></h3>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <div class="modal-body mx-4">
      <!--Body-->
      <div class="md-form mb-5">
        <label data-error="wrong" data-success="right" for="Form-email1">Email</label>
        <input type="email" id="Form-email1" class="form-control validate">
      </div>

      <div class="md-form pb-3">
        <label data-error="wrong" data-success="right" for="senha">Senha</label>
        <input type="password" id="senha" class="form-control validate">
        <p class="font-small blue-text d-flex justify-content-end">Esqueceu a <a href="#" class="blue-text ml-1">
            senha?</a></p>
      </div>

      <div class="text-center mb-3">
        <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Entrar</button>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer mx-5 pt-3 mb-1">
      <p class="font-small grey-text d-flex justify-content-end">Não é cadastrado? <a href="#" class="blue-text ml-1">
          Cadastre-se</a></p>
    </div>
  </div>
  <!--/.Content-->
</div>