<app-header></app-header>
<main>
    <u class="content-menu">
        <a routerLink="/perfil" routerLinkActive="active"><li>Perfil</li></a>
        <a routerLink="/pedidos" routerLinkActive="active"><li>Pedidos</li></a>
    </u>
    <div class="content-main">
        <h2>Pedidos</h2>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">N Pedido</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Forma de Pag.</th>
                <th scope="col">Status</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Cancelar</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of resultsPurchaseHistory | async">
                    <th>{{ r.id }}</th>
                    <th></th>
                    <th>{{ r.payment_method }}</th>
                    <th id="status1" style="background-color: yellow;">Aguar. Pagamento</th>
                    <th><button (click)="openModalDetalhes()" type="button" class="btn btn-primary">Detalhe</button></th>
                    <th><button (click)="cancelarPedido('status1')" type="button" class="btn btn-danger">Cancelar</button></th>
                  </tr>
            </tbody>
          </table>
    </div>
</main>