<main>
    <div class="content-main">
        <div class="content-title">
            <img class="icon-box" src="../../../../assets/icons/caixa.png" alt="">Resumo do Pedido
        </div>
        <table class="table">
            <thead>
              <tr>
                <th style="border-bottom-left-radius: 15px; border-top-left-radius: 15px;" scope="col">Imagem</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th style="border-bottom-right-radius: 15px; border-top-right-radius: 15px;" scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of items()" class="line">
                    <th><img class="img-table" src="{{ p.avatar.url }}" alt="bala"></th>
                    <td>{{ p.name }}</td>
                    <td>{{ p.count }}</td>
                    <td>{{ p.price | currency: 'BRL': true  }}</td>
                    <td>{{ p.price * p.count | currency: 'BRL': true  }}</td>
                  </tr>
            </tbody>
          </table>
          <div class="content-total">
              <div class="content-line">Subtotal: {{total() | currency: 'BRL': true}}</div>
              <div class="content-line">Frete: R$ 10,00</div>
              <div class="content-line">Total: R$ 61,00</div>
          </div>
          <button (click)="validaSession()" type="button" class="btn btn-success">Finalizar compra</button>
    </div>
</main>
