<footer>
    <div class="footer-item">
        <h5>Institucional</h5>

        <a routerLink="/sobre_a_empresa" routerLinkActive="active">Sobre a empresa</a><br>
        <a routerLink="/promocoes" routerLinkActive="active">Promoções</a><br>
        <a routerLink="/novidades" routerLinkActive="active">Novidades</a>
    </div>
    <div class="footer-item">
        <h5>Sac</h5>

        <a routerLink="/fale-conosco" routerLinkActive="active">Fale Conosco</a><br>
        Forma de Pagamento <br>
        Politica de Privacidade
    </div>
    <div class="footer-item">
        <h5>Entre em Contato</h5>

        (11) 3539-4312<br>
        De segunda à sexta das 8h as 17h<br>
        Comercialfreitas2019@gmail.com
    </div>
    <div class="footer-item">
        <h5>Rede Sociais</h5>
        <a href="https://www.facebook.com/Comercial-Freitas-107172251010862/?modal=admin_todo_tour&ref=admin_to_do_step_controller" target="_blank"><img class="img-rede-sociais" src="../../assets/icons/facebook.png" alt="facebook"></a>
        <a href="https://www.instagram.com/comercial_freitas2020/?hl=pt-br" target="_blank"><img class="img-rede-sociais" src="../../assets/icons/instagram-esbocado.png" alt="instagram"></a>
    </div>
</footer>
