<footer>
    <div class="footer-item">
        <h5>Institucional</h5>

        <a routerLink="/sobre_a_empresa" routerLinkActive="active">Sobre a empresa</a><br>
        <a routerLink="/promocoes" routerLinkActive="active">Promoções</a><br>
        <a routerLink="/novidades" routerLinkActive="active">Novidades</a>
    </div>
    <div class="footer-item">
        <h5>Sac</h5>

        <a routerLink="/fale-conosco" routerLinkActive="active">Fale Conosco</a><br>
        Forma de Pagamento <br>
        Politica de Privacidade
    </div>
    <div class="footer-item">
        <h5>Entre em Contato</h5>

        (11) 9999999999<br>
        De segunda à sexta das 8h as 17h<br>
        contato@freitas.com
    </div>
    <div class="footer-item"></div>
</footer>
