.modal-header{
    width: 600px;
    background-color: #fff;
}
.modal-body{
    width: 600px;
    background-color: #fff;
}
.modal-footer{
    width: 600px;
    background-color: #fff;
}
.img-table{
    width: 75px;
    height: 70px;
    right: 10px;
    position: relative;
}
.line td{
    line-height: 77px;
}
h6{
    position: relative;
    right: 29px;
}
.name-product{
    font-size: 15px;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.material-icons{
    font-size: 30px !important;
    color: red !important;
}