<app-header></app-header>
<main>
    <u class="content-menu">
        <a routerLink="/perfil" routerLinkActive="active"><li>Perfil</li></a>
        <a routerLink="/pedidos" routerLinkActive="active"><li>Pedidos</li></a>
    </u>
    <div class="content-main">
        <div class="content-dados">
            <h2 style="margin-left: 22px;">Dados Pessoais</h2>
            <div *ngFor="let r of results | async" class="content-dados-pessoais">
                <ul>
                    <li><strong>E-mail</strong></li>
                    <li>{{ r.email }}</li>
                    <li><strong>Nome</strong></li>
                    <li>{{ r.name }}</li>
                    <li><strong>CPF</strong></li>
                    <li>{{ r.cpf }}</li>
                    <li><strong>Data de Nascimento</strong></li>
                    <li *ngIf="r.dt_nasc != 0;">{{ r.dt_nasc }}</li>
                    <li *ngIf="r.dt_nasc == 0;">Sem Informação</li>
                </ul>
                <ul>
                    <li><strong>Senha</strong></li>
                    <li>******</li>
                    <li><strong>Celular</strong></li>
                    <i>{{ r.cell_phone }}</i>
                    <li><strong>Sexo</strong></li>
                    <li *ngIf="r.sex == 2">Feminino</li>
                    <li *ngIf="r.sex == 3">Masculino</li>
                </ul>
            </div>
        </div>
        <div class="content-dados">
            <h2 style="margin-left: 22px;">Endereço</h2>
            <div *ngFor="let r of results | async" class="content-dados-pessoais">
                <ul>
                    <li><strong>Endereço</strong></li>
                    <li>{{ r.address }}</li>
                    <li><strong>Cep</strong></li>
                    <li>{{ r.cep }}</li>
                    <li><strong>Numero</strong></li>
                    <li>{{ r.number }}</li>
                    <li><strong>Complemento</strong></li>
                    <li>{{ r.complement }}</li>
                </ul>
                <ul>
                    <li><strong>Bairro</strong></li>
                    <li>{{ r.district }}</li>
                    <li><strong>Cidade</strong></li>
                    <i>{{ r.city }}</i>
                    <li><strong>Estado</strong></li>
                    <li>{{ stateClient }}</li>
                </ul>
            </div>
        </div>
    </div>
</main>